doctype html
html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css") 
        block upStyles

body
  .navbar.navbar-inverse(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Project name
      .navbar-collapse.collapse
        form.navbar-form.navbar-right(role='form')
          
          .form-group
            input.form-control(type='text', placeholder='Email')
          .form-group
            input.form-control(type='password', placeholder='Password')
          button.btn.btn-success(type='submit') Sign in
      // /.navbar-collapse
  .container

  block content
script(type="text/javascript", src= "scripts/jquery-1.11.1.min.js")    
script(type="text/javascript", src= "scripts/jquery-ui.min.js")
script(type="text/javascript", src= "scripts/bootstrap.min.js")  
block styles

     
    
