doctype html
html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
        script(type="text/javascript", src= "scripts/jquery-1.11.1.min.js")    
        script(type="text/javascript", src= "scripts/jquery-ui.min.js")    
        block styles

    body
        div.container
            block content